.container {
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    height: 500px;
    
}

.one {
    background: blue;
    border: red 2px solid;
    flex: 1;
}

.two {
    background: yellow;
    border: red 2px solid;
    flex: 1;
}

.three {
    background: green;
    border: red 2px solid;
    flex: 1;
}



button {
    margin-top: 100px;
}