.container {
    
    display: flex;
    flex-direction: column;
    height: 500px;
    
}

.one {
    background: lightblue;
    border: black 2px solid;
    flex: 1;
}

.two {
    background: lightgoldenrodyellow;
    border: black 2px solid;
    flex: 1;
}

.three {
    background: lightslategray;
    border: black 2px solid;
    flex: 1;
}



button {
    margin-top: 100px;
}

.a {
    margin-bottom: 25px;
}